---
layout: archive
---

{{ content }}
<h2>Welcome to my personal blog!</h2>

<figure style="width: 500" class="align-center">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/marco.jpg" alt="" />
  <figcaption>Hello! This is me!</figcaption>
</figure>

<h4>Here you will find the most recent posts! Check out the top bar for more content, like the Collections where I store special featured content! I warmly welcome you to my blog, I hope it will be a happy stay.</h4>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
